---
import LayoutBasico from "../layouts/LayoutBasico.astro";
import Timeline from "../components/Timeline.astro";
import TimelineIconEducation from "../components/Icons/TimelineIconEducation.astro";

const pageTitle = "CV Alejandro";

const education = [
    {
        title: "Máster Desarrollador FullStack",
        place: "MasterD, Madrid",
        date: "Actualmente",
    },
    {
        title: "Confección y Publicación de Páginas Web",
        place: "Core Networks, Madrid",
        date: "Actualmente",
    },
    {
        title: "Grado Superior en Desarrollo de Aplicaciones Web (DAW)",
        place: "I.E.S. Enrique Tierno Galván, Madrid",
        date: "2024 - 2025",
    },
    {
        title: "Grado Superior en Desarrollo de Aplicaciones Multiplataforma (DAM)",
        place: "I.E.S. Enrique Tierno Galván, Madrid",
        date: "2022 - 2024",
    },
    {
        title: "Grado Medio en Sistemas Microinformáticos y Redes (SMR)",
        place: "I.S.E.P. CEU, Madrid",
        date: "2019 - 2021",
    },
];
---

<LayoutBasico pageTitle={pageTitle}>
    <h1 class="text-center text-2xl font-bold my-8">EDUCACIÓN</h1>

    <Timeline items={education} Icon={TimelineIconEducation} />

    <hr
        class="mx-5 my-[30px] border-0 border-t border-black transition-colors duration-300 dark:border-white"
    />
</LayoutBasico>
