---
import LayoutBasico from "../layouts/LayoutBasico.astro";
import Timeline from "../components/Timeline.astro";
import TimelineIconWork from "../components/Icons/TimelineIconWork.astro";

const pageTitle = "CV Alejandro";

const experience = [
    {
        title: "UNED - Desarrollador Web (Prácticas FCT)",
        place: "Madrid",
        date: "2024 - 2025",
    },
    {
        title: "DataSystem - Técnico Web / Contenidos (Prácticas FCT)",
        place: "Madrid",
        date: "2023 - 2024",
    },
    {
        title: "Indra Sistemas - Técnico Informático (Prácticas FCT)",
        place: "Madrid",
        date: "2020 - 2021",
    },
];
---

<LayoutBasico pageTitle={pageTitle}>
    <h1 class="text-center text-2xl font-bold my-8">EXPERIENCIA PROFESIONAL</h1>

    <Timeline items={experience} Icon={TimelineIconWork} />

    <hr
        class="mx-5 my-[30px] border-0 border-t border-black transition-colors duration-300 dark:border-white"
    />
</LayoutBasico>
