---
import ContenedorContacto from "./ContenedorContacto.astro";
import GitHubIcon from "./Icons/GitHubIcon.astro";
import LinkedInIcon from "./Icons/LinkedInIcon.astro";
---

<footer class="flex justify-center gap-4 mt-8">
    <div class="text-center">
        <ContenedorContacto
            plataforma="github"
            usuario="Alejandroleon2002"
            Icon={GitHubIcon}
        />
    </div>
    <div class="text-center">
        <ContenedorContacto
            plataforma="linkedin"
            usuario="in/alejandro-león-manzanedo"
            Icon={LinkedInIcon}
        />
    </div>
</footer>
