---
import "../styles/global.css";
--- 

<header class = "flex justify-between items-center">
  <img 
  class ="rounded-full w-6 h-6"
  src="https://avatars.githubusercontent.com/u/145546896?s=400&u=963d19a2a76936e1ddc47bc6d0f85fad128446b0&v=4" 
  alt="Foto perfil">
  <nav>
    <a href="/">Inicio</a>
    <a href="/estudios/">Estudios</a>
    <a href="/practicas/">Prácticas</a>
    <a href="/contacto/">Contacto</a>
  </nav>
</header> 