---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { pageTitle } = Astro.props;
---

<html
  lang="es"
  class="scroll-smooth bg-[#E1DCC9] font-sans text-black dark:bg-[#002d47] dark:text-white"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body
    class="min-h-screen w-full flex flex-col bg-[#E1DCC9] text-black transition-colors duration-300 dark:bg-[#002d47] dark:text-white"
  >
    <h1
      class="mx-2.5 my-5 text-center text-[clamp(2rem,5vw,3.6rem)] font-bold text-black transition-colors duration-300 sm:mx-5 sm:my-[30px] dark:text-white"
    >
      CV Alejandro León Manzanedo
    </h1>

    <Header />
    <main class="mx-auto w-full max-w-[700px] px-5">
      <slot />
    </main>
    <Footer />
    <button
      id="scrollTopBtn"
      class="fixed bottom-4 right-4 sm:bottom-6 sm:right-6 hidden flex h-10 w-10 sm:h-12 sm:w-12 items-center justify-center rounded-full bg-[#978F66] text-white shadow-lg transition-all hover:scale-110 active:scale-95"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M6 15l6 -6l6 6"></path>
      </svg>
    </button>

    <script>
      import "../scripts/scroll.js";
    </script>
  </body>
</html>
